In [1]:
%%mysql -d

select 1

   1
0  1

## workbench notebook only

This notebook is only used to draft things - remove in the future

In [2]:
%%mysql -d

select id, config->>'$.title', config
from charts 
where JSON_CONTAINS_PATH(config, 'one', '$.dimensions[*].order') = 1
or JSON_CONTAINS_PATH(config, 'one', '$.dimensions[*].id') = 1
or JSON_CONTAINS_PATH(config, 'one', '$.dimensions[*].chartId') = 1
or JSON_CONTAINS_PATH(config, 'one', '$.dimensions[*].numDecimalPlaces') = 1

Empty DataFrame
Columns: [id, config->>'$.title', config]
Index: []

In [24]:
import json
from typing import List

In [25]:
def remove_key_in_dimension(k: str, d: dict):
    if k in d:
        del d[k]
    return d

In [23]:
for row in df.iterrows():
    id = row[1]["id"]
    config_json = json.loads(row[1]["config"])
    config_json["dimensions"] = [ 
        remove_key_in_dimension("order", d) for d in config_json["dimensions"] 
    ]
    break

[{'id': 8329, 'chartId': 27, 'display': {'name': 'Historical European trade', 'tolerance': 5, 'isProjection': False}, 'property': 'y', 'variableId': 35}]

In [13]:
df

       id                                 config->>'$.title'
0      27                           Trade openness in Europe
1      29    PISA scores – Education test scores by the OECD
2      40  National suicide rates and mean years of schoo...
3      41                       Male and female suicide rate
4      50  The Flynn Effect: Gains in mean IQ for world r...
..    ...                                                ...
333  1781                 Share of employment in agriculture
334  1782  Share of intended capitation grants received b...
335  1784  Percentage point change in the share of popula...
336  1801         Percentage of primary schools with toilets
337  1803  SABER rating of education policies aimed at im...

[338 rows x 2 columns]

In [11]:
%%mysql 

update charts
set config = JSON_REMOVE(config, '$.dimensions[*].order')
where JSON_CONTAINS_PATH(config, 'one', '$.dimensions[*].order') = 1;

OperationalError: (3149, 'In this situation, path expressions may not contain the * and ** tokens.')